TZ=Asia/Jakarta

POSTGRES_HOST_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me-postgres

REDIS_HOST_PORT=6379
REDIS_PASSWORD=change-me-redis

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

PORTAINER_BIND_IP=127.0.0.1
PORTAINER_HTTPS_PORT=9443

MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=change-me-mysql-root
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=change-me-mysql-app

MONGO_HOST_PORT=27017
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change-me-mongo-root

KAFKA_CLUSTER_ID=jvMqlKDsTGuGiAd8t0Sk1Q
KAFKA_HOST_PORT=29092
KAFKA_UI_HOST_PORT=8201

ELASTIC_HOST_PORT=9200
ELASTIC_PASSWORD=change-me-elastic
ES_JAVA_OPTS=-Xms512m -Xmx512m
KIBANA_HOST_PORT=5601
APM_SERVER_HOST_PORT=8200
APM_SECRET_TOKEN=change-me-apm-token
