TZ=Asia/Jakarta

POSTGRES_HOST_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me-postgres

REDIS_HOST_PORT=6379
REDIS_PASSWORD=change-me-redis
REDIS_INSIGHT_HOST_PORT=5540

BUGSINK_HOST_PORT=8010
BUGSINK_DB_NAME=bugsink
BUGSINK_DB_USER=bugsink
BUGSINK_DB_PASSWORD=change-me-bugsink-db
BUGSINK_SECRET_KEY=change-me-bugsink-secret-key-at-least-50-chars
BUGSINK_CREATE_SUPERUSER=admin:change-me-bugsink-admin
BUGSINK_BASE_URL=http://bugsink.home
BUGSINK_SITE_TITLE=Home Bugsink
BUGSINK_SINGLE_USER=true
BUGSINK_BEHIND_PLAIN_HTTP_PROXY=true
BUGSINK_EMAIL_HOST=smtp.resend.com
BUGSINK_EMAIL_HOST_USER=resend
BUGSINK_EMAIL_HOST_PASSWORD=re_AuqMkvPc_L9Hr8NQGavBh422PBBHJVoca
BUGSINK_EMAIL_PORT=587
BUGSINK_EMAIL_USE_TLS=true
BUGSINK_EMAIL_USE_SSL=false
BUGSINK_EMAIL_TIMEOUT=5
BUGSINK_DEFAULT_FROM_EMAIL=Mr Postman <bugsink@resend.com>
BUGSINK_EMAIL_LOGGING=false

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

PORTAINER_BIND_IP=0.0.0.0
PORTAINER_HTTPS_PORT=9443
PORTAINER_TRUSTED_ORIGINS=portainer.home

MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=change-me-mysql-root
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=change-me-mysql-app

MONGO_HOST_PORT=27017
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change-me-mongo-root
MONGO_WIREDTIGER_CACHE_SIZE_GB=0.25

KAFKA_CLUSTER_ID=jvMqlKDsTGuGiAd8t0Sk1Q
KAFKA_HOST_PORT=29092
KAFKA_HEAP_OPTS=-Xms256m -Xmx512m
KAFKA_JVM_PERFORMANCE_OPTS=-XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35
KAFKA_UI_HOST_PORT=8201
KAFKA_UI_JAVA_OPTS=-Xms128m -Xmx256m

ELASTIC_HOST_PORT=9200
ELASTIC_PASSWORD=change-me-elastic
ES_JAVA_OPTS=-Xms512m -Xmx512m
KIBANA_HOST_PORT=5601
KIBANA_NODE_OPTIONS=--max-old-space-size=512
APM_SERVER_HOST_PORT=8200
APM_SECRET_TOKEN=change-me-apm-token

GRAFANA_HOST_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana

PROMETHEUS_HOST_PORT=9090
PROMETHEUS_RETENTION=15d
ALERTMANAGER_HOST_PORT=9093

OTEL_GRPC_HOST_PORT=4317
OTEL_HTTP_HOST_PORT=4318

CADDY_HTTP_PORT=8088
CADDY_GRAFANA_HOST=grafana.home
CADDY_HOMARR_HOST=homarr.home
CADDY_PROMETHEUS_HOST=prometheus.home
CADDY_ALERTMANAGER_HOST=alertmanager.home
CADDY_MAILHOG_HOST=mailhog.home
CADDY_REDIS_INSIGHT_HOST=redisinsight.home
CADDY_KAFKA_UI_HOST=kafka.home
CADDY_KIBANA_HOST=kibana.home
CADDY_NETDATA_HOST=netdata.home
CADDY_NETDATA_UPSTREAM=host.docker.internal:19999
CADDY_BUGSINK_HOST=bugsink.home
CADDY_PORTAINER_HOST=portainer.home

HOMARR_HOST_PORT=7575
HOMARR_SECRET_ENCRYPTION_KEY=change-me-homarr-32-chars-minimum

RESTIC_REPOSITORY=/restic-repo
RESTIC_PASSWORD=change-me-restic
RESTIC_BACKUP_INTERVAL_SECONDS=86400
RESTIC_KEEP_LAST=7
RESTIC_KEEP_DAILY=7
