TZ=Asia/Jakarta

POSTGRES_HOST_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me-postgres

REDIS_HOST_PORT=6379
REDIS_PASSWORD=change-me-redis
REDIS_INSIGHT_HOST_PORT=5540

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

PORTAINER_BIND_IP=0.0.0.0
PORTAINER_HTTPS_PORT=9443

MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=change-me-mysql-root
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=change-me-mysql-app

MONGO_HOST_PORT=27017
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change-me-mongo-root

KAFKA_CLUSTER_ID=jvMqlKDsTGuGiAd8t0Sk1Q
KAFKA_HOST_PORT=29092
KAFKA_UI_HOST_PORT=8201

ELASTIC_HOST_PORT=9200
ELASTIC_PASSWORD=change-me-elastic
ES_JAVA_OPTS=-Xms512m -Xmx512m
KIBANA_HOST_PORT=5601
APM_SERVER_HOST_PORT=8200
APM_SECRET_TOKEN=change-me-apm-token

GRAFANA_HOST_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana

PROMETHEUS_HOST_PORT=9090
PROMETHEUS_RETENTION=15d
ALERTMANAGER_HOST_PORT=9093

OTEL_GRPC_HOST_PORT=4317
OTEL_HTTP_HOST_PORT=4318

CADDY_HTTP_PORT=8088
CADDY_GRAFANA_HOST=grafana.local
CADDY_PROMETHEUS_HOST=prometheus.local
CADDY_ALERTMANAGER_HOST=alertmanager.local
CADDY_REDIS_INSIGHT_HOST=redisinsight.local
CADDY_PORTAINER_HOST=portainer.local

RESTIC_REPOSITORY=/restic-repo
RESTIC_PASSWORD=change-me-restic
RESTIC_BACKUP_INTERVAL_SECONDS=86400
RESTIC_KEEP_LAST=7
RESTIC_KEEP_DAILY=7
