{
  auto_https off
  admin off
}

http://{$CADDY_GRAFANA_HOST:grafana.home} {
  reverse_proxy grafana:3000
}

http://{$CADDY_HOMARR_HOST:homarr.home} {
  reverse_proxy homarr:7575
}

http://{$CADDY_PROMETHEUS_HOST:prometheus.home} {
  reverse_proxy prometheus:9090
}

http://{$CADDY_ALERTMANAGER_HOST:alertmanager.home} {
  reverse_proxy alertmanager:9093
}

http://{$CADDY_MAILHOG_HOST:mailhog.home} {
  reverse_proxy mailhog:8025
}

http://{$CADDY_REDIS_INSIGHT_HOST:redisinsight.home} {
  reverse_proxy redis-insight:5540
}

http://{$CADDY_KAFKA_UI_HOST:kafka.home} {
  reverse_proxy kafka-ui:8080
}

http://{$CADDY_KIBANA_HOST:kibana.home} {
  reverse_proxy kibana:5601
}

http://{$CADDY_NETDATA_HOST:netdata.home} {
  reverse_proxy {$CADDY_NETDATA_UPSTREAM:host.docker.internal:19999}
}

http://{$CADDY_BUGSINK_HOST:bugsink.home} {
  reverse_proxy bugsink:8000 {
    header_up Host {host}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Real-IP {remote_host}
  }
}

http://{$CADDY_PORTAINER_HOST:portainer.home} {
  reverse_proxy https://portainer:9443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
